/* .red{
    color:red;
    font-size: 25px;
}
.green{
    color:green;
    font-style: italic;
    font-size: 30px;
} */

/* .title{
    color: aqua;
    width: 45px;
    font-size: 20px;
} */

/*mouse events*/

* {
  box-sizing: border-box;
}

/* .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}
.iiner-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blue;
}
.circle-active{
    background-color: tomato;
} */

body.show-modal .backdrop {
  opacity: 1;
  pointer-events: initial;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: coral;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-btn:hover {
  background-color: grey;
}
form {
  padding: 15px;
}
.modal-form-fixed {
  display: flex;
  flex-direction: column;
}
.modal-form-field + .modal-form-field {
  margin-bottom: 10px;
}
.modal-form-field-label {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.input-wrapper {
  position: relative;
}
.modal-form-field-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.modal-form-field-input::placeholder {
  font-size: 18px;
  color: brown;
}
.input-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.input-check {
  margin-top: 10px;
}
.input-check:checked + .input-check-text {
  color: green;
}
.btn {
  display: block;
  margin: 10px auto 10px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: brown;
  font-size: 20px;
  font-weight: 600;
  color: wheat;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(42, 165, 93);
}

.btn:disabled {
  background-color: rgb(100, 105, 102);
}

a {
  text-decoration: none;
}

.policy {
  color: red;
}

#parent,
#child,
#inner-child {
  margin: 16px;
  padding: 16px;
  border: 1px solid rgb(255, 193, 7);
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
#parent{
    background-color: blue;
}
#child{
    background-color: brown;
}
#inner-child{
    background-color: blueviolet;
}

.container{
    display: flex;
    column-gap: 20px;
    outline: 1px solid red;
    padding: 20px;
}
.js-add-button{
    margin-top: 20px;
}

.tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 8px;
        background-color: #fff;
        list-style: none;
        user-select: none;
        outline: 1px solid tomato;
      }

      .tags__item {
        margin: 4px;
      }

      .tags__btn {
        border: 1px solid #212121;
        border-radius: 4px;
        display: inline-block;
        padding: 4px 10px 4px;

        font-size: 24px;
        font-family: inherit;
        color: #212121;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        outline: none;

        background-color: #fff;
        cursor: pointer;
      }

      .tags__btn--active {
        color: #fff;
        background-color: #3f51b5;
      }

