/* .red{
    color:red;
    font-size: 25px;
}
.green{
    color:green;
    font-style: italic;
    font-size: 30px;
} */


/* .title{
    color: aqua;
    width: 45px;
    font-size: 20px;
} */


/*mouse events*/

*{
    box-sizing: border-box;
}

/* .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}
.iiner-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blue;
}
.circle-active{
    background-color: tomato;
} */

body.show-modal .backdrop{
    opacity: 1;
    pointer-events: initial;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    width: 600px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: coral;
}

.modal-close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close-btn:hover{
    background-color: grey;
}
form{
    padding: 15px;
}
.modal-form-fixed{
    display: flex;
    flex-direction: column;
}
.modal-form-field + .modal-form-field{
    margin-bottom: 10px;
}
.modal-form-field-label{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.input-wrapper{
    position: relative;
}
.modal-form-field-input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.modal-form-field-input::placeholder{
    font-size: 18px;
    color:brown;
}
.input-icon{
    position: absolute;
    top:10px;
    left:10px;
}
.input-check{
    margin-top: 10px;

}
.input-check:checked + .input-check-text{
    color: green;
}
.btn{
    display: block;
  margin: 10px auto 10px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background-color: brown;
  font-size: 20px;
  font-weight: 600;
  color: wheat;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(42, 165, 93);
}

.btn:disabled {
  background-color: rgb(100, 105, 102);
}

a {
  text-decoration: none;
}

.policy {
  color: red;
}